@import "./variables";

.cartogram-container {
  padding: 7.5%;
  position: relative;

  canvas {
    width: 100%;
  }

  figure {
    margin: 0 0 35px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h4 {
    color: #0b3536;
    text-align: center;
  }
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.option-group {
  label {
    margin: 1em 0;
  }

  input {
    margin: 1em;
  }
}

.filter {
  background: $blue;
  margin-bottom: 20px;
}

.is-open {
  .Select-placeholder {
    color: transparent;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}