@import "./variables";

.cartogram-container {
  padding: 7.5%;
  position: relative;

  canvas {
    width: 100%;
  }
}

.filter {
    background: $blue;
    margin-bottom: 20px;
}

.is-open {
  .Select-placeholder {
    color: transparent;
  }
}
