$off-white: #fbfbfb;
$light-grey: #a5a6a9;
$grey: #dddddd;
$dark-grey: #0b3536;
$light-blue: #37bbe4;
$power-blue: #0098d8;
$blue: #2677bb;
$red: #db2f27;
$green: #007500;
$light-green: #3dbd5d;
$teal: #00b8b8;
$orange: #f67944;
$mustard: #c7943e;
$gold: #f0c24f;
$yellow: #ffeb00;

$content-width: 800px;
$content-padding: 20px;

$content-max-width: 600px;

$grain-z-index: 1;
$footer-z-index: -1;

$poster-border: dashed 5px $power-blue;
