.cartogram-container {
  padding: 20px;
  border-top: dashed 5px #0098d8;
  border-right: dashed 5px #0098d8;
  border-bottom: dashed 5px #0098d8; }

.cartogram-frame {
  padding: 7.5%;
  background: #dddddd; }

canvas {
  width: 100%; }

.Select {
  margin: 0 auto;
  width: 100%;
  border-left: dashed 5px #0098d8; }

.Select-placeholder {
  top: 10px; }

.Select--single > .Select-control .Select-value {
  padding-right: 20px; }

.Select-input {
  padding-top: 10px; }
