.cartogram-container {
  padding: 7.5%;
  position: relative; }
  .cartogram-container canvas {
    width: 100%; }

.filter {
  background: #2677bb;
  margin-bottom: 20px; }

.is-open .Select-placeholder {
  color: transparent; }
