.cartogram-container {
  margin: 0;
  padding: 7.5%;
  position: relative; }
  .cartogram-container canvas {
    width: 100%; }

fieldset {
  border: none; }

legend {
  font-weight: bold;
  margin: 0;
  padding: 0; }

.option-group label {
  margin: 1em 0; }

.option-group input {
  margin: 1em; }

.filter {
  background: #2677bb;
  margin-bottom: 20px; }

.is-open .Select-placeholder {
  color: transparent; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
