html, body {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2; }

a {
  color: #3dbd5d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.object-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.is-green {
  color: #007500; }

.is-red {
  color: #db2f27; }

.is-hi-lite {
  background-color: #f0c24f; }

.dashed-border-right {
  border-right: dashed 5px #0098d8; }

.dashed-border-left {
  border-left: dashed 5px #0098d8; }

.dashed-border-top {
  border-top: dashed 5px #0098d8; }

.dashed-border-bottom {
  border-bottom: dashed 5px #0098d8; }

.content-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  padding: 0 15px; }

.content {
  padding: 20px; }
  .content p {
    max-width: 600px; }

.grain {
  background-image: url("../noise.jpg");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  pointer-events: none; }

.header-container, .footer-container {
  box-sizing: border-box;
  width: 100%; }

.header-container {
  background-color: #f67944;
  padding-top: 30px; }

.footer-container {
  background-color: #dddddd;
  padding-bottom: 30px; }

.header, .footer {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px; }

.header h1, .header h4 {
  margin: 0; }

.footer {
  position: relative; }
  .footer h4 {
    max-width: 600px; }

.brand {
  color: #fbfbfb; }
  .brand span {
    color: #0098d8; }
